<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!--<add key="JsonFilePath" value="D:\c#\EmployeeData_"+todayDate + ".json"/>-->
		<add key="JsonFilePath" value="D:\Github\Trainee2023\Trainee2023\Soham Raval\AJAX\Ajax_exam\EmployeeData_$(TodayDate).json"/>
	</appSettings>
</configuration>